<!DOCTYPE html>
<html>
    <head>
        <title>crowdtracker - assembly point</title>
        <style>
          html, body, #map-canvas {
            height: 80%;
            margin: 0px;
            padding: 0px
          }
        </style>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="public/map.js"></script>
        <script>
        function initialize() {
            initMap(<%= lat %>, <%= long %>);
            setInterval(getMyPosition, 1000);
            initPositionListener();
        }
        google.maps.event.addDomListener(window, 'load', initialize);  
        </script>
    </head>
    <body>
        <input type="text" id="username"></input>
        <button onclick="join(1)">Join</button>
        <div id="map-canvas"></div>
    </body>
</html>
